<div class="template">
    <div  class="icon">
        <img src={{logoimg_src}} />
    </div>
    <div>
        <p><span class="caption-1 caption"> 
        TURN</span>
        <span class="caption-2 caption"> 
        MILES</span>
        </p>
    </div>
    <div >
        <p><span class="caption-3 caption"> 
        INTO</span>
        <span class="caption-4 caption"> 
        MONEY</span>
    <div>
        <p class="caption-5"><b>RIDES ON ONE TAP</b></p>
    </div>

    <div>
        <img class="image" src={{image_src}} />
    </div> 
</div>